.error-messages {
  margin-top: 0.5rem;

  .error-message {
    font-weight: 600;
    background-color: var(--red-lightened);
    color: var(--grey-dark);
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid var(--red);
  }
}
