<footer class="bg-navy-lightened cream">
  <div>
    <p>
      &copy; 2024 <a href="https://github.com/damon314159" class="link link-primary">Damon314159</a>. All
      rights reserved.
    </p>
  </div>
</footer>