.hero {
  background: (--cream);
  color: var(--grey);
  text-align: center;
  padding: 4rem 2rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.dashboard {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--linen);
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.dashboard-grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dashboard-grid {
  max-width: 40rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  .dashboard-item {
    background-color: var(--cream);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
