<% if (locals.errors && errors.length > 0) { %>
<div class="error-messages">
  <% errors.forEach(function(error) { %>
  <div class="error-message"><%= error.message || error.msg %></div>
  <% }) %>
</div>
<% } %>