<header class="bg-navy-lightened cream">
  <nav class="navbar">
    <div class="container">
      <h1><a href="/" class="brand link link-cream">Inventory App</a></h1>
      <ul class="nav-links">
        <li><a href="/categories" class="link link-primary">Categories</a></li>
        <li><a href="/items" class="link link-primary">Items</a></li>
        <li><a href="/about" class="link link-primary">About</a></li>
      </ul>
    </div>
  </nav>
</header>