<div class="search-bar">
  <form action="<%= searchAction %>" method="GET" class="search-form">
    <div class="input-wrapper">
      <input type="text" name="<%= field %>" value="<%= value %>" class="search-field" placeholder="Search..." autocomplete="off">
      <button type="submit" class="search-icon">
        <img src="/assets/images/magnify.svg" alt="search-icon"></img>
      </button>
    </div>
    <%- include('errors',{ errors }); -%>
  </form>
</div>