:root {
  --off-white: #f9f9f9;
  --cream: #fdfffc;
  --linen: #f7ece1;
  --grey: #333333;
  --grey-dark: #222222;
  --purple: #9b00c2;
  --purple-lightened: #ab00d6;
  --navy: #091540;
  --navy-lightened: #101f5b;
  --pale-blue: #9dacff;
  --pale-blue-darkened: #8093ff;
  --feldgrau: #526760;
  --feldgrau-lightened: #627a74;
  --red: #ff3e41;
  --red-lightened: #ff6b6e;
}

.off-white {
  color: var(--off-white);
}
.cream {
  color: var(--cream);
}
.linen {
  color: var(--linen);
}
.grey {
  color: var(--grey);
}
.grey-dark {
  color: var(--grey-dark);
}
.purple {
  color: var(--purple);
}
.purple-lightened {
  color: var(--purple-lightened);
}
.navy {
  color: var(--navy);
}
.navy-lightened {
  color: var(--navy-lightened);
}
.pale-blue {
  color: var(--pale-blue);
}
.pale-blue-darkened {
  color: var(--pale-blue-darkened);
}
.feldgrau {
  color: var(--feldgrau);
}
.feldgrau-lightened {
  color: var(--feldgrau-lightened);
}
.red {
  color: var(--red);
}
.red-lightened {
  color: var(--red-lightened);
}

.bg-off-white {
  background-color: var(--off-white);
}
.bg-cream {
  background-color: var(--cream);
}
.bg-linen {
  background-color: var(--linen);
}
.bg-grey {
  background-color: var(--grey);
}
.bg-grey-dark {
  background-color: var(--grey-dark);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-purple-lightened {
  background-color: var(--purple-lightened);
}
.bg-navy {
  background-color: var(--navy);
}
.bg-navy-lightened {
  background-color: var(--navy-lightened);
}
.bg-pale-blue {
  background-color: var(--pale-blue);
}
.bg-pale-blue-darkened {
  background-color: var(--pale-blue-darkened);
}
.bg-feldgrau {
  background-color: var(--feldgrau);
}
.bg-feldgrau-lightened {
  background-color: var(--feldgrau-lightened);
}
.bg-red {
  background-color: var(--red);
}
.bg-red-lightened {
  background-color: var(--red-lightened);
}
